/* CSS DOSYASI*/

/* BOŞLUKLARI SIFIRLA*/
*{
    margin: 0px;
    padding: 0px;
}
#sayfa{
    width: 400px;
    min-height: 803px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    color: white;
    
}
/*banner*/
#banner{
    width: 398px;
    min-height: 100px;
    border-style: solid;
    border-width: 1px;
    background-color:white;
    margin: auto;
}

/*LOGO*/
#logo{
    width: 140px;
    height: 90px;
    border-style: none;
    border-width: 1px;
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}

#foto{
    width: 100px;
    
}

/*SOSYAL MEDYA*/
#sosyal{
    width: 133px;
    height: 40px;
    border-style: none;
    border-width: 1px;
    background-color:white;
    float: right;
    position: relative;
    top: 50px;
    right: 10px;

}

#icon{
    float: right;
    width: 40px;
    

}
/*ANAMENÜ*/
#anamenu{
    width: 398px;
    min-height: 50px;
    border-style: solid;
    border-width: 1px;
    background-color:deepskyblue;
    margin: auto;
}
#anamenu ul{
    list-style-type: none;

}
#anamenu ul li{
    width: 80px;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: blue;
    background-color: black;
    float: left;
    padding: 2px;
    margin-left: 7px;
    position: relative;
    top: 10px;
    text-align: center;
}
#anamenu ul a:link{
    color: chartreuse;

}
#anamenu ul a:visited{
    color: crimson;
}
#anamenu ul a:hover{
    color: cyan;
    text-decoration: underline;

}

#anamenu ul a:active{
    color: red;
}

#anamenu ul a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
}

/*İÇERİK VE YAN MENU KODLARI*/
#icerik{
    width: 300px;
    min-height: 400px;
    border-style: solid;
    border-width: 1px;
    background-color:white;
    float: left;
}

#yanmenu{
    width: 96px;
    min-height: 400px;
    border-style: solid;
    border-width: 1px;
    background-color:white;
    float: left;
}

.resim{
    float: left;
    width: 300px;
    margin: 10px;
    position: relative;
    right: 10px;
}
.metin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: royalblue;
}
.baslik{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:red;
    font-weight: bolder;
}
/*ALT MENÜ*/
#altmenu{
    width: 398px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    background-color:aqua;
    float: left;
    text-align: center;
    color: black;

}
#altmenu a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    color: black;
    text-decoration: none;

}
#altmenu a:hover{
    color: chartreuse;
    text-decoration: underline;
}
.kucukmetin{
    font-size: 10px;
}